@using OSL.WEB.Extensions
@model List<OSL.DAL.Entities.Question>

<div class="container mt-5">
    @if (Model == null || Model.Count == 0)
    {
        <div class="q-list-container text-center">
            <h1>No questions available</h1>
        </div>
    }
    else
    {
        @foreach (var question in Model)
        {
            <div class="q-list-container">
                <form asp-action="index" asp-controller="Question" method="post">
                    <div class="d-flex justify-content-between">
                        <p><strong>@(question.User != null ? question.User.Email : "Delete User")</strong></p>
                        <p>@($"{question.CreatedAt.ToString("MMM dd, yyyy | hh:mm tt")} ({question.CreatedAt.TimeAgo()})")</p>
                    </div>

                    <div class="form-group row">
                        <p>@question.Explanation</p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2 topic">
                            @foreach (var topic in question.Topic.SplitAndTrim())
                            {
                                <p>@topic</p>
                            }
                        </div>
                        <div>
                            <a href="/question/@question.QuestionId" class="btn btn-primary">Answers</a>
                        </div>
                    </div>
                </form>
            </div>
        }
    }
</div>