@model OSL.BLL.Models.QuestionVM

<div class="container mt-5">
    <div class="container-div" style="max-width: 600px;">
        <h2 class="mb-4 text-center">Post a Question</h2>

        <form id="post-question" asp-action="post-question" method="post">
            <div class="form-group row">
                <label class="col-form-label">Topic</label>
                <div class="col-sm-9 w-100">
                    <input asp-for="Topic" class="form-control mb-2" placeholder="Enter the topics of your question, seperated by commas" />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label">Explanation</label>
                <div class="col-sm-9 w-100">
                    <textarea asp-for="Explanation" class="form-control mb-4" style="height: 200px" placeholder="Write your question here"></textarea>
                    <span asp-validation-for="Explanation" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary">Post Question</button>
            </div>
        </form>
    </div>
</div>

