@using OSL.BLL.Enums
@using OSL.BLL.Models
@model OSL.BLL.Models.LoginVM

<div class="container mt-5">
    <div class="container-div" style="max-width: 430px;">
        <h2 class="mb-4 text-center">Login</h2>

        <form id="login-form">
            <div class="form-group mb-3">
                <label asp-for="Email">Email Address</label>
                <input id="emailInput" asp-for="Email" name="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" name="Password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div id="role" class="form-group mb-2">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" name="Role" class="form-control">
                    <option value="" selected disabled>Select a role...</option>
                    @foreach (var role in Enum.GetValues(typeof(RoleType)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="text-center pt-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#login-form").submit(function (event) {
        event.preventDefault();
    });
    $(document).ready(function () {
        $('#login-form').validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                    minlength: 8
                },
                Password: {
                    required: true,
                    minlength: 4
                },
                Role: {
                    required: true
                }
            },
            messages: {
                Email: {
                    required: "Please enter your email address",
                    email: "Please enter a valid email address"
                },
                Password: {
                    required: "Please enter your password"
                },
                Role: {
                    required: "Please select a role"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function (response) {
                        toastMessageNext("Login Successful!", ToastType.Success);
                        window.location.href = '/';
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            errorMessage = "Login failed. Please check your credentials and role selection.";
                            $('#role').after('<span class="text-danger d-block text-center">' + errorMessage + '</span>');
                        } else {
                            errorMessage = xhr.responseText || "Internal server error. Please try again later.";
                            toastMessage(errorMessage);
                        }
                    }
                });
            }
        });
    });
</script>


