@using OSL.BLL.Enums;
@using System.Text.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSL Project</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 20px 100px;">
            <div class="container-fluid">
                <a class="navbar-brand logo-container" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.svg" class="logo" />
                    <span class="logo-text">OSL</span>
                </a>

                <ul class="navbar-nav">
                    @if (Context.Session.GetString("Role") != null)
                    {
                        <li class="nav-item">
                            <span class="nav-link text-dark role">@Context.Session.GetString("Role")</span>
                        </li>
                    }
                </ul>

                <ul class="navbar-nav mx-auto d-flex">
                    @if (Context.Session.GetString("UserId") != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/">Dashboard</a>
                        </li>
                    }
                    @if (Context.Session.GetString("Role") == RoleType.Student.ToString())
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/post-question">Post Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/my-questions">My Questions</a>
                        </li>
                    }
                    @if (Context.Session.GetString("Role") == RoleType.Teacher.ToString())
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/my-responses">My Responses</a>
                        </li>
                    }
                </ul>

                <ul class="navbar-nav">
                    @if (Context.Session.GetString("UserId") is null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-text" href="/register">Register</a>
                        </li>
                    }
                    else
                    {
                        var email = Context.Session.GetString("Email");
                        <li class="nav-item">
                            <p class="nav-link text-dark nav-text"><strong>@email</strong></p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger fw-bold nav-text" href="/logout">Logout</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
            @await Html.PartialAsync("_ToastMessage")
        </main>
    </div>

    <footer class="footer border-top">
        <div class="container">
            &copy; 2024 <a href="https://rawfin.net">Rawfin</a>. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
