@model List<TopicTalks.Web.ViewModels.QuestionViewModel>

<div class="container mt-5">
    <div class="text-center mb-3 w-50 m-auto">
        <input class="form-control text-center" style="height: 50px; font-size: 20px" type="text" id="searchInput" placeholder="Type anything to search">
    </div>
    <div id="question-container">
        @await Html.PartialAsync("~/Views/Partials/_QuestionList.cshtml", Model)
    </div>
</div>

@section Scripts
{
    <script>
        $('#searchInput').on('input', function () {
            var searchText = $(this).val();
            fetchQuestions(searchText);
        });

        function searchTag(searchText) {
            $('#question-container').empty();
            fetchQuestions(searchText);
            $('#searchInput').val(searchText).focus();
        }

        function fetchQuestions(searchText) {
            $('#question-container').addClass('loading');
            $.ajax({
                url: '@Url.Action("LoadQuestionList", "Home")?searchQuery=' + searchText,
                method: 'GET',
                success: function (questions) {
                    $('#question-container').empty();
                    $('#question-container').html(questions);
                    $('#question-container').removeClass('loading');
                },
                error: function (error) {
                    toastMessage('Internal server error. Please try again later.', ToastType.Error);
                    $('#question-container').removeClass('loading');
                }
            });
        }

        function getURLParameter(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        var searchQuery = getURLParameter('searchQuery');

        if (searchQuery) {
            $('#searchInput').val(searchQuery);

            var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.pushState({ path: newUrl }, '', newUrl);
            $('#searchInput').focus();
        }
    </script>
}