<div class="container mt-5">
    <div class="question-container text-center" style="padding: 2.5rem 8.125rem;">
        <h1 class="text-danger title">Error!!!</h1>
        <h2 class="mb-4">An error occurred while processing your request.</h2>
        <a asp-controller="Home" asp-action="Dashboard">Return to home page</a>
    </div>
</div>
