@model TopicTalks.Web.ViewModels.QuestionCreateViewModel

<div class="container mt-5">
    <div class="content-container" style="max-width: 37.5rem;">
        <h2 class="mb-4 text-center title">Post a Question</h2>

        <form id="post-question">
            <div class="form-group row">
                <label class="col-form-label">Cover Image</label>
                <div class="col-sm-9 w-100">
                    <input type="file" id="image" name="Image" class="form-control mb-2" accept="image/*" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label">Topic</label>
                <div class="col-sm-9 w-100">
                    <input asp-for="Topic" class="form-control mb-2" placeholder="Enter the topics of your question, seperated by commas"/>
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label">Explanation</label>
                <div class="col-sm-9 w-100">
                    <textarea asp-for="Explanation" class="form-control mb-2" style="height: 200px" placeholder="Write your question here"></textarea>
                    <span asp-validation-for="Explanation" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center pt-2">
                <button class="btn btn-primary">
                    <img src="img/rolling-white.svg" class="btn-loading" alt="" />
                    Post Question
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        var imageFileId;
        var uploading = false;
        var submitWaiting = false;

        $('#image').on("change", function () {
            $('#image').css({ "pointer-events": "none" });
            uploading = true;

            Upload(this)
                .then((response) => {
                    console.table(response)
                    imageFileId = response.cloudFileId;
                })
                .catch(() => {
                    imageFileId = null;
                })
                .finally(() => {
                    uploading = false;
                    $('#image').css({ "pointer-events": "auto" });

                    if (submitWaiting) {
                        $("#post-question").valid() && $("#post-question").trigger("submit");
                    }
                });
        });

        $("#post-question").validate({
            rules: {
                Topic: {
                    required: true,
                    minlength: 4,
                    maxlength: 50
                },
                Explanation: {
                    required: true,
                    minlength: 20
                }
            },
            messages: {
                Topic: {
                    required: "Please enter the topics of your question"
                },
                Explanation: {
                    required: "Please write your question"
                }
            },
            submitHandler: (form) => {
                $('.btn-loading').show();

                if (uploading == true) {
                    submitWaiting = true;
                    $('#post-question').css({ "pointer-events": "none" });
                    return;
                }

                var data = $(form).serializeArray().reduce((obj, item) => {
                    obj[item.name] = item.value;
                    return obj;
                }, {});

                if (imageFileId) {
                    data.ImageFileId = imageFileId;
                }

                $.ajax({
                    url: '@Url.Action("PostQuestion", "Question")',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: (response) => {
                        toastMessageNext("Question Posted!", ToastColor.Green);
                        window.location.href = '@Url.Action("Dashboard", "Home")';
                    },
                    error: (xhr) => {
                        toastMessage('Internal server error. Please try again later.');
                    }
                });

                $('#post-question').css({ "pointer-events": "auto" });
                $('.btn-loading').hide();
            }
        });

        // replace consecutive commas and spaces with one
        $("#Topic").blur(function () {
            var val = $(this).val().replace(/[, ]+/g, function (match) {
                return match.charAt(0);
            });
            $(this).val(val);
        });
    </script>
}