@model TopicTalks.Web.ViewModels.QuestionCreateViewModel

<div class="container mt-5">
    <div class="container-div" style="max-width: 600px;">
        <h2 class="mb-4 text-center title">Post a Question</h2>

        <form id="post-question">
            <div class="form-group row">
                <label class="col-form-label">Topic</label>
                <div class="col-sm-9 w-100">
                    <input asp-for="Topic" class="form-control mb-2" placeholder="Enter the topics of your question, seperated by commas" />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label">Explanation</label>
                <div class="col-sm-9 w-100">
                    <textarea asp-for="Explanation" class="form-control mb-2" style="height: 200px" placeholder="Write your question here"></textarea>
                    <span asp-validation-for="Explanation" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center pt-2">
                <button class="btn btn-primary">Post Question</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#post-question").validate({
            rules: {
                Topic: {
                    required: true,
                    minlength: 4,
                    maxlength: 50
                },
                Explanation: {
                    required: true,
                    minlength: 20
                }
            },
            messages: {
                Topic: {
                    required: "Please enter the topics of your question"
                },
                Explanation: {
                    required: "Please write your question"
                }
            },
            submitHandler: (form) => {
                $.ajax({
                    url: '/question',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: (response) => {
                        toastMessageNext("Question Posted!", ToastType.Success);
                        window.location.href = '/';
                    },
                    error: (xhr) => {
                        toastMessage('Internal server error. Please try again later.', ToastType.Error);
                    }
                });
            }
        });

        // replace consecutive commas and spaces with one
        $("#Topic").blur(function () {
            var val = $(this).val().replace(/[, ]+/g, function (match) {
                return match.charAt(0);
            });
            $(this).val(val);
        });
    </script>
}