@using TopicTalks.Web.Extensions
@model List<TopicTalks.Web.ViewModels.QuestionViewModel>

<div class="container mt-5">
    @if (Model.Count == 0)
    {
        <div class="q-list-container text-center title">
            <h1>No responded questions available</h1>
        </div>
    }
    else
    {
        @foreach (var question in Model)
        {
            <div class="q-list-container">
                <div class="d-flex justify-content-between">
                    <p><strong>@(question.UserInfo != null ? question.UserInfo.Email : "Delete User")</strong></p>
                    <p><local-time utc-datetime="@question.CreatedAt" format="3" time-ago="true"></local-time></p>
                </div>

                <div class="form-group row">
                    <p>@question.Explanation</p>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-2 topic">
                        @foreach (var topic in question.Topic.SplitAndTrim())
                        {
                            <p onclick="searchTag('@topic')">@topic</p>
                        }
                    </div>
                    <div>
                        <a href="/question/@question.QuestionId" class="btn btn-primary">Answers</a>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts
{
    <script>
        function searchTag(searchText) {
            $('#questionContainer').empty();
            window.location.href = '/?searchQuery=' + searchText;
        }
    </script>
}