
<div class="container-div w-100" style="text-align: center; max-width: 900px; margin-top: 80px">
    <h1 style="font-size: 300px; color: #e15353;">401</h1>
    <p style="font-size: 25px; font-weight: bold;">
        You are not allowed to access this resource.
    </p>
</div>
