@font-face {
  font-family: 'DejaVuSans';
  src: url('./DejaVuSans.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('./DejaVuSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'TiltWarp';
  src: url('./TiltWarp-Regular.ttf') format('truetype');
  font-weight: normal;
}

body {
  font-family: 'DejaVuSans', sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}