@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TopicTalks.Web.Common
@using TopicTalks.Web.Extensions

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 1.25rem 6.25rem;">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand">
                <img src="~/img/logo-icon.svg" class="logo" alt="TopicTalks Logo" />
                <span class="logo-text">Topic<span>Talks</span></span>
            </a>

            <ul class="navbar-nav nav-center">
                @if (Context.UserId() != null)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Dashboard" class="nav-link">
                            <i class="fi i-dashboard"></i>Dashboard
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Student))
                {
                    <li>
                        <a asp-controller="Home" asp-action="PostQuestion" class="nav-link">
                            <i class="fi i-edit"></i>Post Questions
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="UserQuestions" class="nav-link">
                            <i class="fi i-post"></i> My Questions
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Teacher))
                {
                    <li>
                        <a asp-controller="Home" asp-action="UserResponses" class="nav-link">My Responded Questions</a>
                    </li>
                }

                @if (Context.UserRole().Contains(RoleType.Moderator))
                {
                    <li>
                        <a asp-controller="Account" asp-action="GetExcel" class="nav-link">
                            <i class='fi i-table'></i>Export User Data
                        </a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav">
                @if (Context.UserId() is null)
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    </li>
                }
                else
                {
                    <li>
                        @if (Context.IsUserVerified())
                        {
                            <a asp-controller="Account" asp-action="Verify" pop="Please verify your account.">
                                <i class="fi i-warning text-warning"></i>
                            </a>
                        }

                    </li>
                    <li>
                        <a class="nav-link  fw-bold account" asp-controller="Account" asp-action="Profile">
                            @Context.Username()
                        </a>
                        <a class="header-profile-image" asp-controller="Account" asp-action="Profile">
                            <img src="https://rawfin.net/assets/img/Rawfin.png">
                        </a>
                    </li>
                    <li>
                        <i class="fi i-logout text-danger link" style="font-size: 22px; margin-left: 10px;" onclick="logout()"></i>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>