@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TopicTalks.Web.Common
@using TopicTalks.Web.Extensions

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 1.25rem 6.25rem;">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand">
                <img src="~/img/logo-icon.svg" class="logo" alt="TopicTalks Logo" />
                <span class="logo-text">Topic<span>Talks</span></span>
            </a>

            <ul class="navbar-nav nav-center">
                @if (Context.UserId() != null)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Dashboard" class="nav-link">
                            <i class="fi i-dashboard"></i>Dashboard
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Student))
                {
                    <li>
                        <a asp-controller="Home" asp-action="PostQuestion" class="nav-link">
                            <i class="fi i-edit"></i>Post Questions
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="UserQuestions" class="nav-link">
                            <i class="fi i-post"></i> My Questions
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Teacher))
                {
                    <li>
                        <a asp-controller="Home" asp-action="UserResponses" class="nav-link">My Responded Questions</a>
                    </li>
                }

                @if (Context.UserRole().Contains(RoleType.Moderator))
                {
                    <li>
                        <a asp-controller="Account" asp-action="GetExcel" class="nav-link">
                            <i class='fi i-table'></i>Export User Data
                        </a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav">
                @if (Context.UserId() is null)
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    </li>
                }
                else
                {
                    <li>
                        @if (!Context.IsUserVerified())
                        {
                            <a asp-controller="Account" asp-action="Verify" pop="Please verify your account.">
                                <i class="fi i-warning text-warning"></i>
                            </a>
                        }

                    </li>
                    <li>
                        <span class="d-flex align-items-center pointer profile-preview">
                            <span class="fw-bold me-2">
                                @Context.Username()
                            </span>
                            <span class="header-profile-image link">
                                <img src="https://rawfin.net/assets/img/Rawfin.png" alt="">
                            </span>
                            <div class="user-info profile-preview" style=" display: none;">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="d-flex">
                                        <div class="profile-image mb-1">
                                            <img src="https://rawfin.net/assets/img/Rawfin.png" alt="" />
                                        </div>
                                        <div class="profile-details">
                                            <strong style="">@@@Context.Username()</strong>
                                            <span>@Context.UserEmail()</span>
                                            <div>
                                                Status:
                                                @if (Context.IsUserVerified())
                                                {
                                                    <span class="text-success font-weight-bold"> Verified</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-bold link" style="color: #af8300" onclick="window.location.href='@Url.Action("Verify", "Account")'">
                                                        Not Verified
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="profile-button pt-1">
                                        <span class="btn btn-danger me-1" onclick="logout()">Logout</span>
                                        <span class="btn btn-primary" onclick="window.location.href='@Url.Action("Profile", "Account")'">Profile</span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>