<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TopicTalks</title>
    @await Html.PartialAsync("_Styles")
</head>

<body>
    @await Html.PartialAsync("_Header")

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Scripts")
    @await Html.PartialAsync("~/Views/Partials/_ToastMessage.cshtml")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
