<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopicTalks</title>
    @await Html.PartialAsync("_CSSPartial")
</head>

<body>
    <header>
        @await Html.PartialAsync("_NavbarPartial")
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
            @await Html.PartialAsync("_ToastMessage")
        </main>
    </div>

    <footer class="footer border-top">
        <div class="container">
            &copy; 2024 <a href="https://rawfin.net">Rawfin</a>. All rights reserved.
        </div>
    </footer>

    @await Html.PartialAsync("_JSPartial")
    @await RenderSectionAsync("Scripts", required: true)
</body>
</html>
