@using TopicTalks.Web.Extensions
@using TopicTalks.Web.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 20px 100px;">
    <div class="container-fluid">
        <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand logo-container">
            <img src="~/img/logo-icon.svg" class="logo" alt="TopicTalks Logo"/>
            <span class="logo-text">Topic<span>Talks</span></span>
        </a>

        <ul class="navbar-nav mx-auto d-flex">
            @if (Context.UserId() != null)
            {
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Dashboard" class="nav-link text-dark nav-text">Dashboard</a>
                </li>
            }
            @if (Context.UserRole() == nameof(RoleType.Student))
            {
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="PostQuestion" class="nav-link text-dark nav-text">Post Questions</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="MyQuestions" class="nav-link text-dark nav-text">My Questions</a>
                </li>
            }
            @if (Context.UserRole() == nameof(RoleType.Teacher))
            {
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="MyResponses" class="nav-link text-dark nav-text">My Responded Questions</a>
                </li>
            }
            
            @if (Context.UserRole() == nameof(RoleType.Moderator))
            {
                <li class="nav-item ">
                    <a asp-controller="Account" asp-action="GetExcel" class="nav-link text-dark nav-text text-center">
                        <span class="d-flex justify-content-center align-items-center text-center">
                            <i class='bx bxs-data' style="margin-right: 3px; font-size: 20px;"></i> Export User Data
                        </span>
                    </a>
                </li>
            }
        </ul>

        <ul class="navbar-nav">
            @if (Context.UserId() is null)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link text-dark nav-text">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link text-dark nav-text">Register</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <p class="nav-link text-dark nav-text mb-0"><strong></strong></p>
                </li>
                <li class="nav-item d-flex justify-content-center align-items-center">
                    <a asp-controller="Account" asp-action="Profile">
                        <span class="nav-link text-dark fw-bold nav-text" >
                            @Context.UserEmail() 
                        </span>
                    </a>
                    <i class='bx bx-log-out-circle bx-sm bx-rotate-90 text-danger link-text' onclick="logout()"></i>
                </li>
            }
        </ul>
    </div>
</nav>