@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('icons/RawfinIcons.eot?e3pfr5');
  src: url('icons/RawfinIcons.eot?e3pfr5#iefix') format('embedded-opentype'), url('icons/RawfinIcons.ttf?e3pfr5') format('truetype'), url('icons/RawfinIcons.woff?e3pfr5') format('woff'), url('icons/RawfinIcons.svg?e3pfr5#RawfinIcons') format('svg');
  font-family: 'RawfinIcons';
  font-display: block;
}

i {
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'RawfinIcons' !important;
  text-transform: none;
}

.i-dashboard:before {
  content: "\e900";
}

.i-delete:before {
  content: "\e901";
}

.i-delete-2:before {
  content: "\e902";
}

.i-edit:before {
  content: "\e903";
}

.i-edit-2:before {
  content: "\e904";
}

.i-github:before {
  content: "\e905";
}

.i-image:before {
  content: "\e906";
}

.i-image-2:before {
  content: "\e907";
}

.i-like:before {
  content: "\e908";
}

.i-logout:before {
  content: "\e909";
}

.i-notification:before {
  content: "\e90a";
}

.i-notification-on:before {
  content: "\e90b";
}

.i-post:before {
  content: "\e90c";
}

.i-post-pen:before {
  content: "\e90d";
}

.i-printer:before {
  content: "\e90e";
}

.i-printer-2:before {
  content: "\e90f";
}

.i-refresh:before {
  content: "\e910";
}

.i-reply:before {
  content: "\e911";
}

.i-search:before {
  content: "\e912";
}

.i-share:before {
  content: "\e913";
}

.i-student:before {
  content: "\e914";
}

.i-student-2:before {
  content: "\e915";
}

.i-table:before {
  content: "\e916";
}

.i-teacher:before {
  content: "\e917";
}

.i-teacher-2:before {
  content: "\e918";
}

.i-user:before {
  content: "\e919";
}

.i-user-image:before {
  content: "\e91a";
}

.i-warning:before {
  content: "\e91b";
}

.i-warning-yellow .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}

.i-warning-yellow .path2:before {
  margin-left: -1.0009765625em;
  content: "\e91d";
  color: rgb(255, 212, 81);
}

.fi {
  display: none;
}
