/* #region Global Styles */

:root {
  --coral-red: #ff4653;
  --deep-blue: #30325e
}

html {
  font-size: 100%
}

main {
  margin-bottom: 5.4rem
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 1.25rem;
  min-height: 100vh;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", sans-serif
}

  body::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: unset;
    width: 100%;
    height: 100%;
    content: ''
  }

a {
  text-decoration: none;
  transition: .4s ease
}

p {
  margin-bottom: .3rem;
}


label {
  margin-left: .25rem
}

.link {
  color: dodgerblue
}

.link,
.blue-hover {
  cursor: pointer;
  transition: .4s ease;
}

.pointer {
  cursor: pointer;
}

a:not(.btn):hover {
  color: var(--coral-red) !important
}

.blue-hover:hover {
  color: dodgerblue !important
}

/* #endregion */

/* #region Header & Footer Styles */

.navbar {
  backdrop-filter: blur(.5rem);
  background-color: rgba(255, 255, 255, 50%) !important
}

.navbar-nav a {
  font-weight: 600;
  transition: .4s ease;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.container-fluid a,
.container-fluid ul,
.container-fluid li {
  display: flex;
  align-items: center
}

.navbar-brand {
  filter: drop-shadow(.125rem .125rem .125rem rgba(0, 0, 0, .2));
  font-weight: bold
}

.logo {
  padding-right: .31rem;
  max-width: 2.5rem;
  max-height: 2.2rem
}

.logo-text {
  margin-bottom: .13rem;
  color: var(--coral-red);
  font-size: 1.9rem;
  font-family: "Tilt Warp", sans-serif
}

  .logo-text span {
    color: var(--deep-blue)
  }

.nav-center li {
  padding: 0 .32rem
}

.nav-link i {
  margin-right: .25rem;
  font-size: 1rem
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  padding: 1.25rem 10%;
  width: 100%;
  text-align: center
}

/* #endregion */

/* #region Container Styles */

.title {
  filter: drop-shadow(.125rem .125rem .125rem rgba(0, 0, 0, .2));
  font-family: "Tilt Warp", sans-serif
}

.text-outline {
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.content-container {
  backdrop-filter: blur(.5rem);
  box-shadow: rgba(99, 99, 99, .2) 0 2px 30px 0;
  border-radius: .5rem !important;
  background-color: rgba(255, 255, 255, 50%) !important;
  margin: 0 auto;
  padding: 3.12rem
}

.question-container {
  padding: 0;
  overflow: hidden;
  max-width: 50rem
}

.cover {
  margin-bottom: -1rem
}

.cover img {
  max-height: 12rem;
  width: 100%;
  object-fit: cover;
}

.question-container p {
  margin-bottom: .32rem
}

#question-container {
  transform: scale(1);
  transition: transform .3s ease
}

  #question-container.loading {
    transform: scale(.95)
  }

.topic p {
  transition: background .3s ease;
  cursor: pointer;
  color: inherit;
  text-decoration: none
}

.topic > p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .4rem;
  background: #ddd;
  padding: .13rem .6rem;
  font-size: .95rem
}

.topic p:hover {
  background: #ededed
}

.student-details {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius)
}

.otp-code input {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: 0 .25rem;
  outline: 0;
  border: .07rem solid transparent;
  border-radius: .375rem;
  background-color: #ebebeb;
  padding: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  color: #1f2937;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center
}

  .otp-code input:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    border-color: #86b7fe;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color)
  }

/* #endregion */

/* #region Image & Icon Styles */

.header-profile-image {
  width: 1.88rem;
  height: 1.88rem;
  overflow: hidden;
  border-radius: 50%;
  border: .13rem solid #fff;
  background: #fff;
  outline: .13rem solid #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease
}

.user-image {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: .13rem solid #5f5f5f00;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .header-profile-image img,
  .user-image img,
  .profile-image img {
    max-width: 100%;
    max-height: 100%
  }

.header-profile-image:hover {
  outline-color: #07325d !important
}

.tippy-box[data-theme~='user-info'],
.user-info {
  width: max-content;
  max-width: 13rem;
  padding: 1.2rem;
  margin: auto;
  color: var(--bs-gray-900);
  backdrop-filter: blur(.5rem);
  box-shadow: rgb(0 0 0 / 24%) 0 1px 4px 0;
  border-radius: .5rem !important;
  background-color: rgba(255, 255, 255, 50%) !important;
}

.profile-image {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: .3rem;
  border: .13rem solid #5f5f5f00;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: .1rem;
  font-size: .92rem
}

  .profile-details strong {
    font-size: 1.5rem;
    font-weight: bold;
    margin: -.3rem 0
  }

.profile-button span {
  font-size: .9rem;
  padding: .2rem .5rem;
}

.tippy-box[data-theme~='profile-info'],
.profile-info {
  width: max-content;
  padding: 1rem 1rem .9rem;
  margin: auto;
  color: var(--bs-gray-900);
  backdrop-filter: blur(.5rem);
  box-shadow: rgb(0 0 0 / 24%) 0 1px 4px 0;
  border-radius: .3rem !important;
  max-width: 20rem;
  background-color: rgb(255 255 255 / 80%) !important;
}

#preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: .25rem
}

.image-input {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #595c5f;
  background-color: #fff;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: .25rem;
  padding: .375rem .5rem;
  cursor: pointer
}

  .image-input:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 .2rem rgba(13, 110, 253, .25)
  }

  .image-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    padding: 0
  }

  .image-input.no-padding {
    padding: 0
  }

#profile-pic-loading {
  display: none;
  position: absolute;
  width: 3.13rem;
  right: .19rem;
  bottom: .19rem
}

.btn-loading {
  display: none;
  height: 1.25rem;
  margin-right: .19rem;
  padding-bottom: .19rem
}

/* #endregion */
