@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  min-height: 100vh;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", sans-serif;
}

main {
  margin-bottom: 85px;
}

  body::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: unset;
    width: 100%;
    height: 100%;
    content: '';
  }

  label {
    margin-left: 4px;
  }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  padding: 20px 10%;
  width: 100%;
  text-align: center;
}

.container-div {
  backdrop-filter: blur(8px);
  margin: 0 auto 70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 30px 0px;
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 50%) !important;
  padding: 50px;
}

  .container-div table {
    --bs-table-bg: none;
  }

.navbar {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 50%) !important;
}

.nav-text {
  font-weight: 600;
}

.logo {
  padding-right: 5px;
  max-width: 40px;
  max-height: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  margin-right: 20px;
  font-weight: bold;
}

.logo-text {
  font-family: "Tilt Warp", sans-serif;
  font-size: 30px;
  color: #ff4653;
  margin-bottom: 2px;
}

  .logo-text span {
    color: #30325e;
  }

.role {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
  margin: 3px 3px 5px;
  border-radius: 14px;
  background: #78e4a4d6;
  padding: 5px 12px !important;
  font-weight: 500;
}

#login label {
  padding-left: 3px;
}

.title {
  font-family: "Tilt Warp", sans-serif;
}

.reg-table td {
  padding-bottom: 10px;
  padding-left: 10px;
}

.reg-table .form-control {
  width: 250px;
}

a {
  text-decoration: none;
}

.topic > p {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #ddd;
  padding: 2px 9px;
  border-radius: 6px;
  font-size: 15px;
}


.q-list-container {
  backdrop-filter: blur(8px);
  margin: 0 auto 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 30px 0px;
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 50%) !important;
  padding: 25px;
  max-width: 800px;
}

.q-list-container p {
  margin-bottom: 5px;
}

.link-text {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  cursor: pointer;
}

.error {
  color: #DC3545;
  border-color: #DC3545;
}

  .error:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: darkred;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 76, 50, 0.30);
  }

.student-details {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.topic p {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s ease;
}

  .topic p:hover {
    background: #ededed;
  }

/*#password-form input {
  width: 170px;
}
*/