@font-face {
  font-weight: normal;
  src: url('../fonts/TiltWarp-Regular.ttf') format('truetype');
  font-family: 'TiltWarp';
}

@font-face {
  font-weight: normal;
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
  font-family: 'DejaVuSans';
}

@font-face {
  font-weight: bold;
  src: url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-family: 'DejaVuSans';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Mayestica-Regular.ttf') format('truetype');
  font-family: 'Mayestica';
}

body {
  padding: 5px 0;
  font-family: 'Inter', sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}