@model OSL.BLL.Models.LoginVM

<div class="container mt-5">
    <div class="container-div" style="max-width: 430px;">
        <h2 class="mb-4 text-center">Login</h2>

        <form id="login" asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group mb-3">
                <label asp-for="Email">Email Address</label>
                <input id="emailInput" asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="text-center pt-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
