@using TopicTalks.Web.Extensions
@model TopicTalks.Web.ViewModels.UserViewModel

<div class="container mt-5">
    <div class="container-div" style="max-width: 430px;">
        <h2 class="mb-2 text-center title">Change Password</h2>
        <form method="post" id="password-form">
            <div class="text-center" style="font-size: 20px;">
                <p>@Context.UserEmail()</p>
            </div>

            <div class="form-group mb-3">
                <label for="oldPassword"><b>Old Password</b></label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
            </div>

            <div class="form-group mb-3">
                <label for="newPassword"><b>New Password</b></label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>

            <div class="form-group mb-3">
                <label for="confirmPassword"><b>Confirm Password</b></label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>

            <div class="text-center pt-2">
                <button type="submit" class="btn btn-success">Update Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#password-form').validate({
                rules: {
                    newPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 20
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                        equalTo: '#newPassword'
                    }
                },
                messages: {
                    newPassword: {
                        required: 'Please enter a new password.',
                        minlength: 'Password must be at least 4 characters long.',
                        maxlength: 'Password cannot exceed 20 characters.'
                    },
                    confirmPassword: {
                        required: 'Please confirm your password.',
                        minlength: 'Password must be at least 4 characters long.',
                        maxlength: 'Password cannot exceed 20 characters.',
                        equalTo: 'Passwords do not match.'
                    }
                },
                submitHandler: function (form) {
                    $.ajax({
                        url: '@Url.Action("ChangePassword", "Account")',
                        type: 'patch',
                        data: $(form).serialize(),
                        success: function (response) {
                            toastMessageNext("Password updated successfully.", ToastType.Success);
                            window.location.href = '/profile';
                        },
                        error: function (xhr) {
                            if (xhr.status === 401) {
                                toastMessage("Invalid old password. Please try again.");
                            } else {
                                toastMessage("Internal server error. Please try again later.");
                            }
                        }
                    });
                }
            });
        });
    </script>
}      