@using TopicTalks.Web.Enums
@model TopicTalks.Web.ViewModels.RegisterViewModel

<div class="container mt-5">
    <div class="container-div" style="max-width: 430px;">
        <h2 class="mb-4 text-center title">Registration</h2>

        <form id="registration" asp-controller="Account" asp-action="Register" method="post">
            <div class="form-group mb-3">
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div id="additional-fields"></div>

            <div class="form-group mb-2">
                <label asp-for="Role">Role</label>
                <select id="Role" asp-for="Role" class="form-control">
                    <option value="" selected disabled>Select a role...</option>
                    @foreach (var role in Enum.GetValues(typeof(RoleType)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="text-center pt-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>

        $("#Role").change(function () {
            var selectedRole = $(this).val();

            if (selectedRole === "Student") {
                $("#additional-fields").load('/AdditionalFields');
            } else {
                $("#additional-fields").html("");
            }
        });

        $("#registration").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#Password"
                },
                Role: {
                    required: true
                },
                "UserDetails.Name": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    },
                    minlength: 3,
                    maxlength: 50
                },
                "UserDetails.InstituteName": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    },
                    minlength: 3,
                    maxlength: 50
                },
                "UserDetails.IdCardNumber": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    },
                    minlength: 6,
                    maxlength: 20
                },

            },
            messages: {
                Email: {
                    required: "Please enter your email address",
                    email: "Please enter a valid email address"
                },
                Password: {
                    required: "Please enter a password",
                    minlength: "Your password must be at least 4 characters long",
                    maxlength: "Your password must not exceed 20 characters"
                },
                ConfirmPassword: {
                    required: "Please confirm your password",
                    equalTo: "Passwords do not match"
                },
                Role: {
                    required: "Please select a role"
                },
                "UserDetails.Name": {
                    required: "Please enter your name"
                },
                "UserDetails.InstituteName": {
                    required: "Please enter your institute name"
                },
                "UserDetails.IdCardNumber": {
                    required: "Please enter your ID card number"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/register',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function (response) {
                        toastMessageNext("Registration Successful!", ToastType.Success);
                        window.location.href = '/login';
                    },
                    error: function (xhr) {
                        if (xhr.status == 409) {
                            toastMessage("User with the provided email already exists.");
                        } else if (xhr.status === 400) {
                            toastMessage("Please fill out all the fields properly.");
                        } else {
                            toastMessage("Internal server error. Please try again later.");
                        }
                    }
                });
            }
        });
    </script>
}
