@using TopicTalks.Web.Enums
@model TopicTalks.Web.ViewModels.RegisterViewModel

<div class="container mt-5">
    <div class="container-div" style="max-width: 430px;">
        <h2 class="mb-4 text-center">Registration</h2>

        <form id="registration" asp-controller="Account" asp-action="Register" method="post">
            <div class="form-group mb-3">
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <!-- Additional input fields for Student role -->
            <div class="card rounded-border mb-3 student-details" id="additionalFields" style="display: none;">
                <div class="card-body">
                    <h5 class="text-center">Student Details</h5>
                    <div class="form-group">
                        <label asp-for="UserDetail.Name">Name</label>
                        <input asp-for="UserDetail.Name" class="form-control" placeholder="Enter your name" />
                        <span asp-validation-for="UserDetail.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDetail.InstituteName">Institute Name</label>
                        <input asp-for="UserDetail.InstituteName" class="form-control" placeholder="Enter your institute name" />
                        <span asp-validation-for="UserDetail.InstituteName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDetail.IdCardNumber">ID Card Number</label>
                        <input asp-for="UserDetail.IdCardNumber" class="form-control" placeholder="Enter your ID card number" />
                        <span asp-validation-for="UserDetail.IdCardNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Role">Role</label>
                <select id="Role" asp-for="Role" class="form-control">
                    <option value="" selected disabled>Select a role...</option>
                    @foreach (var role in Enum.GetValues(typeof(RoleType)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="text-center pt-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#additionalFields").hide();

        $("#Role").change(function () {
            var selectedRole = $(this).val();

            if (selectedRole === "Student") {
                $("#additionalFields").show();
            } else {
                $("#additionalFields").hide();
            }
        });

        $("#registration").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 6
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#Password"
                },
                Role: {
                    required: true
                },
                "UserDetail.Name": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    }
                },
                "UserDetail.InstituteName": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    }
                },
                "UserDetail.IdCardNumber": {
                    required: {
                        depends: function (element) {
                            return $("#Role").val() === "Student";
                        }
                    }
                }
            },
            messages: {
                Email: {
                    required: "Please enter your email address",
                    email: "Please enter a valid email address"
                },
                Password: {
                    required: "Please enter a password",
                    minlength: "Your password must be at least 6 characters long"
                },
                ConfirmPassword: {
                    required: "Please confirm your password",
                    equalTo: "Passwords do not match"
                },
                "UserDetail.Name": {
                    required: "Please enter your name"
                },
                "UserDetail.InstituteName": {
                    required: "Please enter your institute name"
                },
                "UserDetail.IdCardNumber": {
                    required: "Please enter your ID card number"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '/register',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function (response) {
                        toastMessageNext("Registration Successful!", ToastType.Success);
                        window.location.href = '/login';
                    },
                    error: function (xhr) {
                        if (xhr.status == 409) {
                            toastMessage("User with the provided email already exists.");
                        } else if (xhr.status === 422){
                            toastMessage("Please fill out all the fields properly.");
                        } else {
                            toastMessage("Internal server error. Please try again later.");
                        }
                    }
                });
            }
        });
    </script>
}
