<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="image" name="image" accept="image/jpeg, image/png, image/gif">
</form>
<img id="preview-image" style="display: none;" alt="">


@section scripts {
    <script>
        $(document).ready(function () {
            $("#uploadForm").validate({
                rules: {
                    image: {
                        required: true,
                        accept: "image/jpg,image/jpeg,image/png,image/gif",
                        maxFileSize: 2097152 // 2 MB
                    }
                },
                messages: {
                    image: {
                        required: 'Please select an image.',
                        accept: 'Please select a valid image file (jpg, jpeg, png, gif).'
                    }
                },
                submitHandler: function (form) {
                    var file = $('#image')[0].files[0];
                    if (file) {
                        var formData = new FormData();
                        formData.append('file', file);
                        $.ajax({
                            url: '@Url.Action("Form", "File")',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                alert('Image uploaded successfully.');
                            },
                            error: function (jqXHR, textStatus, errorMessage) {
                                alert('Error uploading image: ' + errorMessage);
                            }
                        });
                    }
                }
            });

            $.validator.addMethod('maxFileSize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param);
            }, 'File size must be less than 2MB');


            $("#image").change(function () {
                previewImage();
                $("#uploadForm").submit();
            });

            function previewImage() {
                var fileInput = $('#image')[0];
                var file = fileInput.files[0];
                if (file) {
                    var previewImage = $('#preview-image');
                    previewImage.attr('src', URL.createObjectURL(file));
                    previewImage.show();

                    previewImage.on('load', function () {
                        URL.revokeObjectURL(previewImage.attr('src'));
                    });
                }
            }
        });
    </script>
}
