
<div class="mb-3">
    <label for="image" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="image" name="image" accept="image/*">
</div>

<img id="preview-image" style="display: none;" alt="">


@section scripts {
    <script>

        $('#image').change(function () {
            Upload(this).then(res => {
                console.table(res);
            });
        });

    </script>
}
