@using OSL.WEB.Extensions
@model OSL.DAL.Entities.Question

<div class="container mt-5">
    <div class="q-list-container">
        <form asp-action="index" asp-controller="Question" method="post">
            <div class="d-flex justify-content-between">
                <p><strong>@(Model.User?.Email ?? "Delete User")</strong></p>
                <p>@(Model.CreatedAt.ToString("MMM dd, yyyy | hh:mm tt") ?? "Date Not Available")</p>
            </div>

            <div class="form-group row">
                <p>@Model.Explanation</p>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 topic">
                    @foreach (var topic in Model.Topic.SplitAndTrim())
                    {
                        <p>@topic</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 w-100">
                    <textarea asp-for="Explanation" class="form-control mb-4" style="height: 100px" placeholder="Write your answer here"></textarea>
                    <span asp-validation-for="Explanation" class="text-danger"></span>
                </div>
            </div>
            <div>
                <button class="btn btn-primary">Post Answer</button>
            </div>
        </form>
    </div>
</div>
